
  <%= render 'main_banner' %>
          
        <div class="wrap">

          <%= render 'news' %>
            
            <strong class="title"><span>Články</span></strong>
            
            <% @posts.each do |post| %>
            
              <h2><%= post.name %></h2>
        
              <p>category: <%= post.category.name %>, created: <%= post.created_at %> </p>
            
              <p><%= post.content %></p>
                
            <% end %>
                        
        </div>

  <%= render 'header' %>
      
  <%= render 'footer' %>
